<ion-header>
  <ion-toolbar>
    <ion-title>
      หน้าบวก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ตัวตั้ง -->
  <ion-item>
    <ion-label>ตัวตั้ง</ion-label>
    <ion-input type="number" [(ngModel)]="first"></ion-input>
  </ion-item>

  <!-- ตัวบวก -->
  <ion-item>
    <ion-label>ตัวบวก</ion-label>
    <ion-input type="number" [(ngModel)]="second"></ion-input>
  </ion-item>

  <!-- ผลลัพธ์ -->
  <ion-item>
    <ion-label>ผลลัพธ์</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- ปุ่มส่งค่า -->
  <ion-button expand="block" (click)="calculate(first, second)">
    แสดงผลลัพธ์
  </ion-button>


</ion-content>
